{{define "endpoint.ping.package"}}{{if .License.Prefix}}/*
{{.License.Prefix}}
*/

{{end}}// Package ping provides the ping endpoints
package ping
{{end}}

{{define "endpoint.ping.ping"}}{{if .License.Prefix}}/*
{{.License.Prefix}}
*/

{{end}}package ping

type ping struct {
    svc *smis.Service
}

// Init initialises the ping endpoints
func Init(svc *smis.Service) error {
    endpoint := &ping{svc: svc}
    _, err := svc.RegisterEndpoint("/ping", http.MethodGet, endpoint.pingHandler)

    return err
}

func (p *ping) pingHandler(writer http.ResponseWriter, request *http.Request) {
    log := p.svc.NewLogForRequestID(request.Context())

    _, err := writer.Write([]byte("pong"))
    if err != nil {
        log.Errorf("ping failed: %s", err)
    }
}
{{end}}

{{define "endpoint.ping.ping_test"}}{{if .License.Prefix}}/*
{{.License.Prefix}}
*/

{{end}}package ping

func TestPingHandler(t *testing.T) {
    req, err := http.NewRequest("GET", "/ping", nil)
    if err != nil {
        t.Fatal(err)
    }

    w := httptest.NewRecorder()

    svc, err := smis.NewService(&http.Server{}, mux.NewRouter(), logrus.New())
    if err != nil {
        t.Fatal(err)
    }

    ep := &ping{svc: svc}
    handler := http.HandlerFunc(ep.pingHandler)
    handler.ServeHTTP(w, req)

    if status := w.Code; status != http.StatusOK {
        t.Errorf("handler returned wrong status code: got %v want %v", status, http.StatusOK)
    }

    expected := "pong"
    if w.Body.String() != expected {
        t.Errorf("handler returned unexpected body: got %v want %v", w.Body.String(), expected)
    }
}

func TestInit(t *testing.T) {
    router := mux.NewRouter()
    srv := &http.Server{
        Handler:      router,
        Addr:         fmt.Sprintf(":%d", 30000),
        WriteTimeout: 15 * time.Second,
        ReadTimeout:  15 * time.Second,
    }
    svc := &smis.Service{
        Log:    logrus.New(),
        Router: router,
        Server: srv,
    }

    if err := Init(svc); err != nil {
        t.Fatalf("init failed: %s", err)
    }

    err := router.Walk(func(route *mux.Route, router *mux.Router, ancestors []*mux.Route) error {
        pathTemplate, err := route.GetPathTemplate()
        if err != nil {
            return err
        }

        if pathTemplate != "/ping" {
            t.Errorf("Expected single endpoint '/ping' but got '%s'", pathTemplate)
        }
        return nil
    })

    if err != nil {
        t.Fatalf("walk through routes failed: %s", err)
    }
}
{{end}}