{{define "endpoint.ping.package"}}{{if .Config.LicensePrefix}}/*
{{.Config.LicensePrefix}}
*/

{{end}}// Package ping provides the ping endpoints
package ping
{{end}}

{{define "endpoint.ping.ping"}}{{if .Config.LicensePrefix}}/*
{{.Config.LicensePrefix}}
*/

{{end}}package ping

var log logrus.FieldLogger

// Init initialises the ping endpoints
func Init(svc service.Service) error {
    log = svc.Log
    _, err := svc.RegisterEndpoint("/ping", http.MethodGet, pingHandler)
    return err
}

func pingHandler(writer http.ResponseWriter, _ *http.Request) {
    _, err := writer.Write([]byte("pong"))
    if err != nil {
        log.Errorf("ping failed: %s", err)
    }
}
{{end}}
