{{define "main"}}{{if .LicensePrefix}}/*
{{.LicensePrefix}}
*/

{{else}}/*
{{.Description}}
*/{{end}}
package main
{{if .Packages}}
import (
    {{range $val := .Packages}}{{$val}}
    {{end}}
){{end}}

const (
    defaultPort = 3000
)

var log logrus.FieldLogger
var port int
var router *mux.Router

func main() {
    log = logrus.New()
    log.Info("Starting service: t")
    initialize()

    srv := &http.Server{
        Handler:      router,
        Addr:         fmt.Sprintf(":%d", port),
        WriteTimeout: 15 * time.Second,
        ReadTimeout:  15 * time.Second,
    }

    log.Infof("Service listens to port %d", port)
    if err := srv.ListenAndServe(); err != nil {
        log.Fatalf("Failed to start server: %s", err)
    }
}

func initialize() {
    // flags
    p := flag.Int("p", defaultPort, "The port the service listens to")

    // feel free to add your personal flags here

    flag.Parse()
    port = *p

    router = mux.NewRouter()

    // init routes
    ping.Init(router, log)

    // TODO: add your endpoints here
}
{{end}}