{{define "nginxDHParam"}}-----BEGIN DH PARAMETERS-----
MIICCAKCAgEAvzm8hXoZBJFMO3j9rBau7Qw+GqIzzhrcqCCzpBa0wAW4FkhQC5IU
YytbDxJrPHIyUxHHgovzKs2rUmwNOXp+JKsBogY4PiksxhwK5ZyzEehZkFUdiesz
qUlu5V2q32vmIgeCzu6dqT7XZiMNmL1knfw55LLVGiVvfsoMgLWfImGgQ2CQwuoN
daj5yCCuIgT4hPTSDRKGDahXvwusEVmvIlkPUp7eniB3Qsp6r5fSwaoCac2DmFeC
11ajty4W5r9Ox2cDsk2QKEGyNTNx3Y7XrOtImTamQ+pcXm4GrZboC87Tj+Zt46jl
NyRrfnYTwVxqtaWRmshob1ElyLmI3VCkaGhfVlu6NKfbxXZ7SOMMjdlCJ0AY5x1v
riL8wE1aLzYvlBngqACcvBsXf8hZrd8eAxiJAf/az1/mKdGuq+Xuoh0eRNxp87k1
eEBZi1PmKeOnQgc7aml80Rms5M/tGaiGNyUJDmVMCtyNvpo58Y3RgL8BKgvcAHi3
DmofOGUdIyrWB/KiP5JgkAJuvzls51gKPpFmuuf/NKZ6Or7vLxvzHqETVh2mpe2M
NmVfGuyNlN3cGz7gQAlP75rdo+gQ+u82H8l755PpLqSzhUD2jWJrtGAZJOS8tWHG
qajFIPI5PYR05mbsXx4b1LsvBBiLrCCWI4t8Hvwa/nfTTLIJhCbIrpsCAQI=
-----END DH PARAMETERS-----
{{end}}