{{define "readme"}}[![Build Status](https://travis-ci.com/{{.Config.GitUsername}}/{{.Config.Project}}.svg?branch=master)](https://travis-ci.com/{{.Config.GitUsername}}/{{.Config.Project}})
[![codecov](https://codecov.io/gh/{{.Config.GitUsername}}/{{.Config.Project}}/branch/master/graph/badge.svg)](https://codecov.io/gh/{{.Config.GitUsername}}/{{.Config.Project}})
[![Go Report Card](https://goreportcard.com/badge/{{.Config.GitDomain}}/{{.Config.GitUsername}}/{{.Config.Project}})](https://goreportcard.com/report/{{.Config.GitDomain}}/{{.Config.GitUsername}}/{{.Config.Project}})
{{if (ne .License.Name "")}}[![License: {{.License.Name}}]({{.License.BadgeURL}})]({{.License.URL}})
{{else}}![License: NONE](https://img.shields.io/badge/license-NONE-red.svg){{end}}

[![Release](https://img.shields.io/{{.Config.GetGitCompany}}/release/{{.Config.GitUsername}}/{{.Config.Project}}.svg?label=Release)](https://{{.Config.GitDomain}}/{{.Config.GitUsername}}/{{.Config.Project}}/releases)
[![GitHub issues](https://img.shields.io/{{.Config.GetGitCompany}}/issues/{{.Config.GitUsername}}/{{.Config.Project}}.svg)](https://{{.Config.GitDomain}}/{{.Config.GitUsername}}/{{.Config.Project}}/issues)
[![Documentation](https://godoc.org/{{.Config.GitDomain}}/{{.Config.GitUsername}}/{{.Config.Project}}?status.svg)](https://godoc.org/{{.Config.GitDomain}}/{{.Config.GitUsername}}/{{.Config.Project}})


# {{.Config.Project}}
{{.Config.Description}}
{{end}}