{{define "sqlite"}}{{$elems := .Attributes}}{{$model := .}}-- up
CREATE TABLE IF NOT EXISTS {{.GetSQlTableName}} (
{{- range $elem := $elems}}
    {{$elem.GetSQLField}},
{{- end}}
    created_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    modified_at DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

{{- range $elem := $elems}}{{if $elem.Unique}}

CREATE UNIQUE INDEX IF NOT EXISTS idx_{{$model.GetSQlTableName}}_{{$elem.GetSQlFieldName}} ON {{$model.GetSQlTableName}} ({{$elem.GetSQlFieldName}});
{{end}}{{- end}}

CREATE TRIGGER IF NOT EXISTS {{.GetSQlTableName}}_after_update AFTER UPDATE ON {{.GetSQlTableName}} BEGIN
    UPDATE {{.GetSQlTableName}} SET modified_at = DATETIME('now') WHERE id = NEW.id;
end;


-- down
{{- range $elem := $elems}}{{if $elem.Unique}}
DROP INDEX IF EXISTS idx_{{$model.GetSQlTableName}}_{{$elem.GetSQlFieldName}};
{{end}}{{- end}}
DROP TRIGGER IF EXISTS {{.GetSQlTableName}}_after_update;

DROP TABLE IF EXISTS {{.GetSQlTableName}};
{{end}}
